*{
    padding: 0;
    margin: 0;
}

#navbar {
    height: 65px;
    background-color: #170833 ;
     color:white;
     display:block
     position:fixed;
     width:100%;
     top:0;
     z-index: 1000;

}
button {
    background-color:#00c3ff;
    font-size: 13px;
}
#logo {
    color: #ffee06;
    font-size: 27px;
    font-style: bold;
    text-decoration: none;
    margin: 0px 300px 12px 0px;
    padding-bottom: 0px;
    padding-top: 6px;
    padding-left: 15px;
   
}
#page_one {
    color: #ffee06;
    font-size: 22px;
    font-style:italic;
    text-decoration: none;
    padding:10px 15px 45px 15px
    margin-right: 90px ;
    margin-top: 8px;
    margin-bottom:10px;
    


}
#page_two {
    color: #ffee06;
    font-size: 22px;
    font-style: italic;
    text-decoration: none;
    margin-right: 10px;
    margin-bottom: 40px;
    margin-top: 40px;
    padding:15px 10px 15px 10px
}
#home_page {
    color: #ffee06;
    font-size: 22px;
    font-style: italic;
    text-decoration: none;
    padding:15px 10px 15px 10px
     margin-bottom: 40px;
    margin-top: 40px;
}
a {
    margin-right: 140px;
    font-size: 19px;
}
.profile{
    margin:45px 40px 30px 500px;
     display: flex;
   align-items: center;
   gap:20px;
}
.profile-img{
    height:170px;
    width:170px;
    border-radius: 100px;
}
.name{
   font-size:200%;
   font-family: bold;
}
.contentbox{
    padding-left: 35px;
    padding-right: 35px;
    margin-bottom: 30px;
    font-size: 25px;
}
.contentlist{
    padding-left: 60px;
    padding-right: 35px;
    margin-bottom: 30px;
    font-size: 27px;
}
.about_me {
    margin-bottom:30px;
    padding-left:35px;
    font-size: 30px;
    font-family:arial;
 
}
.main_heading {
    font-size:31px;
}
@media screen and (max-width:360px){
    * {
  margin: 0;
  padding: 0;
}

    html,body {
     max-width: 100%;
     overflow-x: hidden;
    }
    #navbar {
        /*navbar_for_mobile*/

        padding:o;
        margin: 0px;
        height: 50px;
        background-color: #170833 ;
        color:white;
        display:flex;
        width: 100%;    
        max-width: 100%;   
        box-sizing: border-box; 
     
}
    #logo {
    color: #ffee06;
    font-size: 18px;
    font-style: bold;
    text-decoration: none;
      margin: 0px 65px 12px 0px;
    padding-bottom: 0px;
    padding-top: 6px;
    padding-left: 15px;
    }
    #home_page {
    color: #ffee06;
    font-size: 15px;
    font-style: italic;
    text-decoration: none;
    margin-top: 12px;
    margin-right: 35px;
    margin-bottom: 12px;
    
    }
    #page_one {
    color: #ffee06;
    font-size: 15px;
    font-style:italic;
    text-decoration: none;
    margin-right:35px ;
    margin-top: 12px;
    margin-bottom:12px;
}
a {
    margin-right: 140px;
    font-size: 19px;
}
#page_two {
    color: #ffee06;
    font-size: 12px;
    font-style: italic;
    text-decoration: none;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 10px;   
    padding-top: 10px;   
}
/*LOGO_FOR_MOBILES*/
   .profile{
    margin:15px 31px 15px 31px;
    display: flex;
    align-items: center;
    gap:10px;
    text-align: center; 
}
.profile-img{
    height:120px;
    width:120px;
    border-radius: 100px;
    
}5
.name{
   font: size 90px;
   font-family: bold;
}
.contentbox{
    padding-left: 20px;
    padding-right: 30px;
    margin-bottom: 30px;
    font-size: 17px;
}
.eb{
    font-size:20px;
    font-family: bold;;
}
.contentlist{
    padding-left: 30px;
    padding-right: 19px;
    margin-bottom: 20px;
    font-size: 20px;
}
.about_me {
    margin-bottom:25px;
    padding-left:20spx;
    font-size: 22px;
    font-family:arial;
}
}
@media screen and (min-width:361px) and (max-width:420px){
    * {
  margin: 0;
  padding: 0;
}

    html,body {
     max-width: 100%;
     overflow-x: hidden;
    }
    #navbar {
        /*navbar_for_mobile*/

        padding:o;
        margin: 0px;
        height: 50px;
        background-color: #170833 ;
        color:white;
        display:flex;
        width: 100%;    
        max-width: 100%;   
        box-sizing: border-box; 
     
}
    #logo {
    color: #ffee06;
    font-size: 18px;
    font-style: bold;
    text-decoration: none;
     margin: 0px 65px 12px 0px;
    padding-bottom: 0px;
    padding-top: 6px;
    padding-left: 15px;
    }
    #home_page {
    color: #ffee06;
    font-size: 12px;
    font-style: italic;
    text-decoration: none;
    margin-top: 12px;
    margin-right: 35px;
    margin-bottom: 12px;
    }
    #page_one {
    color: #ffee06;
    font-size: 12px;
    font-style:italic;
    text-decoration: none;
    margin-right:35px ;
    margin-top: 12px;
    margin-bottom:12px;
}
a {
    margin-right: 140px;
    font-size: 19px;
}
#page_two {
    color: #ffee06;
    font-size: 12px;
    font-style: italic;
    text-decoration: none;
     margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 10px;   
    padding-top: 10px;   
}
/*LOGO_FOR_MOBILES*/
   .profile{
    margin:15px 55px 15px 55px;
    display: flex;
    align-items: center;
    gap:10px;
    text-align: center; 
}
.profile-img{
    height:120px;
    width:120px;
    border-radius: 100px;
    
}5
.name{
   font: size 90px;
   font-family: bold;
}
.contentbox{
    padding-left: 20px;
    padding-right: 30px;
    margin-bottom: 30px;
    font-size: 17px;
}
.eb{
    font-size:20px;
    font-family: bold;;
}
.contentlist{
    padding-left: 30px;
    padding-right: 19px;
    margin-bottom: 20px;
    font-size: 20px;
}
.about_me {
    margin-bottom:25px;
    padding-left:20spx;
    font-size: 22px;
    font-family:arial;
}
}
@media screen and (min-width:421px) and (max-width:500px) {
    * {
  margin: 0;
  padding: 0;
}

    html,body {
     max-width: 100%;
     overflow-x: hidden;
    }
    #navbar {
        /*navbar_for_mobile*/

        padding:o;
        margin: 0px;
        height: 50px;
        background-color: #170833 ;
        color:white;
        display:flex;
        width: 100%;    
        max-width: 100%;   
        box-sizing: border-box; 
     
}
    #logo {
    color: #ffee06;
    font-size: 18px;
    font-style: bold;
    text-decoration: none;
    margin: 0px 80px 12px 0px;
    padding-bottom: 0px;
    padding-top: 6px;
    padding-left: 15px;
    }
    #home_page {
    color: #ffee06;
    font-size: 15px;
    font-style: italic;
    text-decoration: none;
    margin-top: 12px;
    margin-right: 35px;
    margin-bottom: 12px;
    }
    #page_one {
    color: #ffee06;
    font-size: 15px;
    font-style:italic;
    text-decoration: none;
    margin-right:35px ;
    margin-top: 12px;
    margin-bottom:12px;
}
a {
    margin-right: 140px;
    font-size: 19px;
}
#page_two {
    color: #ffee06;
    font-size: 12px;
    font-style: italic;
    text-decoration: none;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 10px;   
    padding-top: 10px;   
}
/*LOGO_FOR_MOBILES*/
   .profile{
    margin:15px 100px 15px 100px;
    display: flex;
    align-items: center;
    gap:10px;
    text-align: center; 
}
.profile-img{
    height:120px;
    width:120px;
    border-radius: 100px;
    
}5
.name{
   font: size 90px;
   font-family: bold;
}
.contentbox{
    padding-left: 20px;
    padding-right: 30px;
    margin-bottom: 30px;
    font-size: 17px;
}
.eb{
    font-size:20px;
    font-family: bold;;
}
.contentlist{
    padding-left: 30px;
    padding-right: 19px;
    margin-bottom: 20px;
    font-size: 20px;
}
.about_me {
    margin-bottom:25px;
    padding-left:20spx;
    font-size: 22px;
    font-family:arial;
}


}
@media screen and (min-width:501px) and (max-width:599px) {
    * {
  margin: 0;
  padding: 0;
}

    html,body {
     max-width: 100%;
     overflow-x: hidden;
    }
    #navbar {
        /*navbar_for_mobile*/

        padding:o;
        margin: 0px;
        height: 50px;
        background-color: #170833 ;
        color:white;
        display:flex;
        width: 100%;    
        max-width: 100%;   
        box-sizing: border-box; 
     
}
    #logo {
    color: #ffee06;
    font-size: 18px;
    font-style: bold;
    text-decoration: none;
    margin: 0px 80px 12px 0px;
    padding-bottom: 0px;
    padding-top: 6px;
    padding-left: 15px;
    }
    #home_page {
    color: #ffee06;
    font-size: 12px;
    font-style: italic;
    text-decoration: none;
    margin-top: 12px;
    margin-right: 60px;
    margin-bottom: 12px;
    }
    #page_one {
    color: #ffee06;
    font-size: 12px;
    font-style:italic;
    text-decoration: none;
    margin-right:60px ;
    margin-top: 12px;
    margin-bottom:12px;
}
a {
    margin-right: 140px;
    font-size: 19px;
}
#page_two {
    color: #ffee06;
    font-size: 12px;
    font-style: italic;
    text-decoration: none;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 10px;   
    padding-top: 10px;     
}
/*LOGO_FOR_MOBILES*/
   .profile{
    margin:15px 170px 15px 170px;
    display: flex;
    align-items: center;
    gap:10px;
    text-align: center; 
}
.profile-img{
    height:120px;
    width:120px;
    border-radius: 100px;
    
}5
.name{
   font: size 90px;
   font-family: bold;
}
.contentbox{
    padding-left: 20px;
    padding-right: 30px;
    margin-bottom: 30px;
    font-size: 17px;
}
.eb{
    font-size:20px;
    font-family: bold;;
}
.contentlist{
    padding-left: 30px;
    padding-right: 19px;
    margin-bottom: 20px;
    font-size: 20px;
}
.about_me {
    margin-bottom:25px;
    padding-left:20spx;
    font-size: 22px;
    font-family:arial;
}
}

@media screen and (min-width:600px) and (max-width:768px) {
    * {
  margin: 0;
  padding: 0;
}

    html,body {
     max-width: 100%;
     overflow-x: hidden;
    }
    #navbar {
        /*navbar_for_mobile*/

        padding:o;
        margin: 0px;
        height: 50px;
        background-color: #170833 ;
        color:white;
        display:flex;
        width: 100%;    
        max-width: 100%;   
        box-sizing: border-box; 
     
}
    #logo {
    color: #ffee06;
    font-size: 18px;
    font-style: bold;
    text-decoration: none;
    margin: 0px 80px 12px 0px;
    padding-bottom: 0px;
    padding-top: 6px;
    padding-left: 15px;
    }
    #home_page {
    color: #ffee06;
    font-size:  15px;
    font-style: italic;
    text-decoration: none;
    margin-top: 6px;
    margin-right: 60px;
    margin-bottom: 10px;
    padding-top: 10px;
    }
    #page_one {
    color: #ffee06;
    font-size: 15px;
    font-style:italic;
    text-decoration: none;
    margin-right:90px ;
    margin-top: 17px;
    margin-bottom:12px;
}
a {
    margin-right: 140px;
    font-size: 19px;
}
#page_two {
    color: #ffee06;
    font-size:15px;
    font-style: italic;
    text-decoration: none;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 10px;   
    padding-top: 10px;   
}
/*LOGO_FOR_MOBILES*/
   .profile{
    margin:15px 175px 15px 175px;
    display: flex;
    align-items: center;
    gap:10px;
    text-align: center; 
}
.profile-img{
    height:120px;
    width:120px;
    border-radius: 100px;
    
}
.name{
   font: size 90px;
   font-family: bold;
}
.contentbox{
    padding-left: 20px;
    padding-right: 30px;
    margin-bottom: 30px;
    font-size: 17px;
}
.eb{
    font-size:20px;
    font-family: bold;;
}
.contentlist{
    padding-left: 30px;
    padding-right: 19px;
    margin-bottom: 20px;
    font-size: 20px;
}
.about_me {
    margin-bottom:25px;
    padding-left:20spx;
    font-size: 22px;
    font-family:arial;
}
}
/*Responsive_For_Tablets(769px to 820px)*/
@media screen and (min-width:769px) and (max-width:800px) {
    * {
  margin: 0;
  padding: 0;
}

    html,body {
     max-width: 100%;
     overflow-x: hidden;
    }
    #navbar {
        /*navbar_for_mobile*/

        padding:o;
        margin: 0px;
        height: 60px;
        background-color: #170833 ;
        color:white;
        display:flex;
        width: 100%;    
        max-width: 100%;   
        box-sizing: border-box; 
     
}
    #logo {
    color: #ffee06;
    font-size: 23px;
    font-style: bold;
    text-decoration: none;
    margin: 0px 100px 12px 0px;
    padding-bottom: 0px;
    padding-top: 6px;
    padding-left: 15px;
    }
    #home_page {
    color: #ffee06;
    font-size: 18px;
    font-style: italic;
    text-decoration: none;
    margin-top: 6px;
    margin-right: 75px;
    margin-bottom: 10px;
    padding-top: 10px;
    }
    #page_one {
    color: #ffee06;
    font-size: 20px;
    font-style:italic;
    text-decoration: none;
    margin-right:75px ;
    margin-top: 6px;
    margin-bottom:10px;
    padding-top: 10px;
}
a {
    margin-right: 140px;
    font-size: 19px;
}
#page_two {
    color: #ffee06;
    font: size 18px;
    font-style: italic;
    text-decoration: none;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 10px;   
    padding-top: 10px;
}
/*LOGO_FOR_MOBILES*/
   .profile{
    margin:25px 250px 15px 250px;
    display: flex;
    align-items: center;
    gap:10px;
    text-align: center; 
}
.profile-img{
    height:150px;
    width:150px;
    border-radius: 100px;
    
}
.name{
   font: size 100px;
   font-family: bold;
}
.contentbox{
    padding-left: 20px;
    padding-right: 30px;
    margin-bottom: 30px;
    font-size: 19px;
}
.eb{
    font-size:22px;
    font-family: bold;;
}
.contentlist{
    padding-left: 30px;
    padding-right: 19px;
    margin-bottom: 20px;
    font-size: 21px;
}
.about_me {
    margin-bottom:25px;
    padding-left:20spx;
    font-size: 22px;
    font-family:arial;
}
}
/*Responsive_For_Tablets(821px to 1024px)*/
@media screen and (min-width:801px) and (max-width:1024px) {
    * {
  margin: 0;
  padding: 0;
}

    html,body {
     max-width: 100%;
     overflow-x: hidden;
    }
    #navbar {
        /*navbar_for_mobile*/

        padding:o;
        margin: 0px;
        height: 65px;
        background-color: #170833 ;
        color:white;
        display:flex;
        width: 100%;    
        max-width: 100%;   
        box-sizing: border-box; 
     
}
    #logo {
    color: #ffee06;
    font-size: 25px;
    font-style: bold;
    text-decoration: none;
    margin: 0px 100px 12px 0px;
    padding-bottom: 0px;
    padding-top: 6px;
    padding-left: 15px;
    }
    #home_page {
    color: #ffee06;
    font-size: 20px;
    font-style: italic;
    text-decoration: none;
    margin-top: 6px;
    margin-right: 90px;
    margin-bottom: 10px;
    padding-top: 10px;
    }
    #page_one {
    color: #ffee06;
    font-size: 20px;
    font-style:italic;
    text-decoration: none;
    margin-right:90px ;
    margin-top: 6px;
    margin-bottom:10px;
    padding-top: 10px;
}
a {
    margin-right: 140px;
    font-size: 19px;
}
#page_two {
    color: #ffee06;
    font-size:20px;
    font-style: italic;
    text-decoration: none;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 10px;   
    padding-top: 10px;   
}
/*LOGO_FOR_MOBILES*/
   .profile{
    margin:25px 250px 15px 250px;
    display: flex;
    align-items: center;
    gap:10px;
    text-align: center; 
}
.profile-img{
    height:175px;
    width:175px;
    border-radius: 100px;
    
}
.name{
   font: size 175px;
   font-family: bold;
}
.contentbox{
    padding-left: 20px;
    padding-right: 30px;
    margin-bottom: 30px;
    font-size: 19px;
}
.eb{
    font-size:22px;
    font-family: bold;;
}
.contentlist{
    padding-left: 30px;
    padding-right: 19px;
    margin-bottom: 20px;
    font-size: 21px;
}
.about_me {
    margin-bottom:25px;
    padding-left:20spx;
    font-size: 22px;
    font-family:arial;
}
}
